{% extends 'basic.html' %}
 {% block title%} Home Page {% endblock %} 
 {% block head %}
 <style>
     .card-img{
         max-height: 600px;        
     }
     .heading{
         font-family: "Comic Sans MS", cursive, sans-serif;
         -webkit-animation:colorchange 5s infinite alternate;
         text-align: center;
         text-shadow: aqua;
     }
     .hediv{
        border-radius: 5px;
        border-style: solid;
        border-color: yellow;
        margin: 5px;
     }
     .card-img-top{
         max-width: 286;
         max-height: 180;
     }
     .card-title{
         text-align: center;
         border-color: yellowgreen;
         border-radius: 2px;
         border-style: dotted;
         font-family: "Comic Sans MS", cursive, sans-serif;
         color: #B60626;     
     }
     .dat{
         text-align: center;
     }
     .card-text{
        text-align: center;
        font-family: Georgia, serif;
        font-size: medium;
     }
     #btnjn{
      display: block;
      margin-left: auto;
      margin-right: auto;
     }
     #imo{
         color: aliceblue;
         text-decoration: double;
         text-align: end;
         -webkit-animation:colorchange 5s infinite alternate;
        font-weight: bold;
        font-size: 20px;
        font-family: Bradley Hand, cursive;
      
    }

    @-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: black;
      }
      
      20% {
        
        color: red;
      }
      
      30% {
        
        color: yellow;
      }
      
      40% {
        
        color: pink;
      }
      
      50% {
        
        color: skyblue;
      }
      
      60% {
        
        color: white;
      }
      
      70% {
        
        color: green;
      }
      80% {
     
        color: purple;
      }
      
      90% {
     
        color: orange;
      }
      
      100% {
        
        color: brown;
      }
    }

 </style> 
 {% endblock %}
 {% block body %}
 <div class="card bg-dark text-white">
    <img class="card-img" src="/media/pubgh.jpg" alt="Card image">
    <div class="card-img-overlay">
        <p class="card-text">Last updated 3 mins ago</p>
    </div>
 </div>

<!-- first text headline-->
<div Class="hediv">
    <h1 Class="heading">&#9876;   UPCOMING MATCHES   &#9876;</h1>
</div>

<!-- Starting first cards row -->

<div class="row mx-3">  
    {% for i in match|slice:"0:" %}
        
    
    <div class="col-3 my-3">
        <div class="card">
            <img class="card-img-top" src="{{ i.match_pics.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Match {{i.match_name}}</h5>
                    <h6 class="dat">	&#x1F4C5; {{i.match_date}} &#8986; {{i.match_time}}</h6>
                    <p class="card-text"><span>Resisteration Fee:</span> <i class="fa fa-inr" aria-hidden="true"></i>{{i.match_entry}}</p>
                    <p class="card-text"><i class="fa fa-trophy"></i>: <i class="fa fa-inr" aria-hidden="true"></i>{{i.winner_prize}}  <i class="fa fa-arrows-h"></i>  Per Kill: <i class="fa fa-inr" aria-hidden="true"></i> {{match.1.per_kill_prize}}</p>
                    <a href="/mdview/{{i.id}}" class="btn btn-outline-warning" role="button" aria-pressed="true" id="btnjn">JOIN NOW</a>
                </div>
        </div>
    </div>
    
    {% endfor %}
</div>


<!-- End of first cards row -->
<!-- 5th text headline-->
<div Class="hediv">
    <h1 class="heading">&#9876;   Previous Matches  &#9876;</h1>
</div>


<!-- Starting of 5th row -->
<div class="row mx-3">
    <div class="col-sm">
        <h3 style="text-align: center; color: aliceblue;"> Match #0001 </h3>
        <iframe width="400" height="250"
            src="https://www.youtube.com/embed/P3eCxiOXolI?autoplay=1">
        </iframe>
    </div>
    <div class="col-sm">
        <h3 style="text-align: center; color: aliceblue;"> Match #0002 </h3>
        <iframe width="400" height="250"
            src="https://www.youtube.com/embed/tuWPtzKNJhw?autoplay=1">
        </iframe>
    </div>
    <div class="col-sm">
        <h3 style="text-align: center; color: aliceblue;"> Match #0003 </h3>
        <iframe width="400" height="250"
            src="https://www.youtube.com/embed/pnMwZyB12KE?autoplay=1">
        </iframe>
    </div>
</div>



 {% endblock %} 